<div class="map" style="background-image: url(<%= @flat.picture_url + '?w=1200' %>)">
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card mt-n5 rounded-lg shadow-sm">
        <div class="card-body mb-3">
          <h1 class="card-title"><%= @flat.name %></h1>
          <p class="card-text"><%= @flat.address %></p>
        </div>
      </div>
      <div class="card mt-3 rounded-lg shadow-sm">
        <div class="card-body">
          <h3 class="card-title">A bit more about this flat...</h3>
          <p class="card-text"><%= @flat.description %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mt-n5 rounded-lg shadow-sm">
        <div class="card-body">
        <h5>Book this place!</h5>
        <form action>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="date-from">From:</span>
            </div>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="date-to">To:</span>
            </div>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
        </div>
      </div>
      <div class="card rounded-lg shadow-sm mt-3">
        <div class="card-body">
          <h3>Details</h3>
          <div class="row">
            <div class="d-flex col-2">
              <div class=mr-2>
                <i class="fas fa-user-friends"></i>
              </div>
              <p class="p-margin"><%= @flat.number_of_guests %></p>
            </div>
            <div class="d-flex col-2">
              <div class=mr-2>
                <i class="fas fa-euro-sign"></i>
              </div>
              <p class="p-margin"><%= @flat.price_per_night %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded-lg shadow-sm mt-3">
        <div class="card-body">
          <div class="row align-items-center justify-content-left">
            <div class="col-4">
              <h6 class="p-margin pl-3">Share</h6>
            </div>
            <div class="d-flex col-3 pl-5">
              <i class="fa fa-facebook-square fa-2x mr-2"></i>
              <i class="fa fa-twitter-square fa-2x mr-2"></i>
              <i class="fa fa-pinterest-square fa-2x mr-2"></i>
              <i class="fa fa-envelope-square fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
