<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Simple Airbnb", flats_path, class:"navbar-brand"%>
      <%= link_to "Add Flat", new_flat_path, class:"nav-btn btn btn-outline-primary" %>
    </nav>
    <%= yield %>
  </body>
</html>
